.btn {
    margin-top: 25px;
    margin-left: 2px;
}

#content {
    height: 100%;
    margin: 150px auto;
    text-align: center;
    width: 25%;
}

form {
    input{
        margin-top: 4px;
    }
    span{
        color: red;
    }
}

#result {
    margin-top: 50px;
}